:root {
  --fonte: 'Montserrat', sans-serif;
  --branco: #fff;
  --preto: #000;
  --cinza: #e2e2e2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--fonte);
}

body {
  -webkit-font-smoothing: antialiased;
  background-color: #fff;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
